@import "mixins.scss";

$main-color: #fed74b;
$main-color-hover: #f4c005;
$color-line: #828282;
$span-color: #9e9e9e;
$bg-btn-time: #d9e8ff;
$bg-btn-time-hover: #6ba6ff;
$purple: #7553ff;
$blue : #099CE8;

* {
  box-sizing: border-box;
}

body {
  @include media-breakpoint-only(mobile-first) {
    padding: 30px 10%;
  }
}

.article {
  width: 100%;
  border: 1px solid $color-line;
  border-radius: 16px;
  margin-bottom: 30px;
  position: relative;

  @include media-breakpoint-only(mobile-first) {
    display: flex;
    justify-content: space-between;
  }

  .wrapper-img-card {
    @include media-breakpoint-only(mobile-first) {
      width: 50%;
      height: 370px;
    }
  }

  .img-card {
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;

    @include media-breakpoint-only(mobile-first) {
      border-radius: 16px 0px 0 16px;
      height: 100%;
    }
  }

  .img-card-block {
    background: $main-color;
    border-radius: 0px;
    position: absolute;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;

    @include media-breakpoint-only(mobile-first) {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .img-card-block[data-color="yellow"] {
    background: $main-color;
    top: 40px;
  }

  .img-card-block[data-color="purple"] {
    background: $purple;
    color: white;
    top: 0;
    border-radius: 15px 0px 12px;
  }

  .img-card-block[data-color="blue"] {
    background: $blue;
    color: white;
    top: 40px;
  }
}

.wrapper {
  padding: 12px;

  @include media-breakpoint-only(mobile-first) {
    width: 50%;
  }

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #404040;
    margin-bottom: 10px;
    margin-top: 0;

    @include media-breakpoint-only(mobile-first) {
      font-weight: 400;
      font-size: 1.5em;
      line-height: 34px;
    }
  }
}

.wrapper-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  img {
    width: 16px;
    height: 16px;
  }

  span {
    color: $span-color;
    font-size: 12px;
  }
}

.wrapper-ul {
  list-style-type: none;
  position: relative;
  padding: 0;
  .wrapper-li-btn-group {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;

    @include media-breakpoint-only(mobile-first) {
      flex-wrap: nowrap;
    }

    p {
      margin: 0;
      margin-left: 20px;
      &::before {
        position: absolute;
        left: 0px;
        border-right: 3px solid $main-color;
        border-top: 3px solid $main-color;
        border-radius: 1px;
        content: "";
        display: block;
        height: 5px;
        width: 10px;
        transform: rotate(135deg);
      }
    }
  }

  .wrapper-li {
    margin-bottom: 10px;
    margin-left: 20px;

    &::before {
      position: absolute;
      left: 0px;
      border-right: 3px solid $main-color;
      border-top: 3px solid $main-color;
      border-radius: 1px;
      content: "";
      display: block;
      height: 5px;
      width: 10px;
      transform: rotate(135deg);
    }
  }
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  button {
    background: $bg-btn-time;
    cursor: pointer;
    border-radius: 11px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 10px;
    transition: all 0.5s;

    &:hover,
    &:focus {
      background: $bg-btn-time-hover;
    }
  }
}

.select {
  background: $bg-btn-time;
  cursor: pointer;
  border-radius: 11px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  padding: 5px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.wrapper-footer {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-only(mobile-first) {
    justify-content: flex-start;
    gap: 20px;
  }

  .wrapper-footer-price {
    .footer-price {
      font-weight: 400;
      font-size: 30px;
      line-height: 20px;
      margin: 0;
    }

    .footer-availability {
      font-weight: 400;
      font-size: 10px;
      line-height: 20px;
      margin: 0;
    }
  }

  .btn-more_detailed {
    background: $main-color;
    border: 0.5px solid $main-color;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover,
    &:focus {
      background: $main-color-hover;
    }
  }
}
